body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: white;
}
.star {
  width: 70px;
  height: 70px;
  display: flex;
  background: #FF823F;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.diploma-info h1 {
    margin: 0;
    font-size: 24px;
    font-family: Abhaya Libre ExtraBold;
}

.diploma-info p {
    margin: 0;
    font-size: 16px;
    font-family: Abhaya Libre ExtraBold;
}
header {
  background-color: #000 ;
  height: 70px;
    padding: 20px;
    text-align: center;
}

.header-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.hero {
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    background-color: #FF823F;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}
.about {
    text-align: center;
    padding: 50px 0;
    background-color: #f0f0f0;
    color: black;
}

.about-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.about-item {
    width: 50%;
    padding: 30px;
    text-align: center;
    color: white;
}

.about-item.html {
    background-color: #072752;
      padding-top: 80px;

}

.about-item.css {
    background-color:#600D6F;
      padding-top: 80px;

}


.about-item.design1 {
    background-color: #04859A;
    padding-top: 50px;
}

.about-item.design2 {
    background-color: #04859A;
    padding-top: 30px;
}

.about-item p {
    font-size: 19px;
    margin-bottom: 20px;
     align-items: center;
}

.about-item h3 {
    font-size: 24px;
    margin: 0;
  text-align: center;
   align-items: center;
}
